@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome</h2>

<p>Welcome to FizzBuzz Web, where even sharing calculations should be fun!</p>

<p>Remember the days when calculating was boring? Well, this just added a bit more fun!</p>

<h2>What is FizzBuzz?</h2>
<p>FizzBuzz is a game you are all very familiar with, but this one brings a twist to your average counting routine. Here's how it works:</p>
<ul>
    <li><strong>Fizz:</strong> If the number is divisible by 3, you say "Fizz" instead of the number.</li>
    <li><strong>Buzz:</strong> If the number is divisible by 5, you say "Buzz" instead of the number.</li>
    <li><strong>FizzBuzz:</strong> If the number is divisible by both 3 and 5, you say "FizzBuzz" instead of the number.</li>
</ul>

<p>Sounds simple? It is, but it’s also so much fun!</p>

<h2>Why Play?</h2>
<p>Because why not? You really need some added fun in your day!</p>

<h2>Join the Fun!</h2>
<p>Ready to start your FizzBuzz adventure? Head over to the <a href="/Home/SharingCalculator">Sharing Calculator</a> and let the fun begin!</p>


<h3>Have fun!</h3>

